{
  "presets": ["@babel/preset-react"],
  "env": {
    "staging": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": ["last 5 versions", "ie >= 8"]
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": ["last 5 versions", "ie >= 8"]
            }
          }
        ]
      ]
    }
  }
}
