{
  "processors": [["stylelint-processor-styled-components", {}]],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "indentation": "tab",
    "number-leading-zero": null,
    "color-no-invalid-hex": true
  }
}