@import "./resetStyles.scss";

@font-face {
  font-family: "icons";
  src: url("../assets/fonts/icons.eot?7savix");
  src: url("../assets/fonts/icons.eot?7savix#iefix") format("embedded-opentype"),
    url("../assets/fonts/icons.ttf?7savix") format("truetype"),
    url("../assets/fonts/icons.woff?7savix") format("woff"),
    url("../assets/fonts/icons.svg?7savix#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Regular"),
    url("../assets/fonts/SFUIText-Regular.woff") format("woff");
}

html {
  font-size: 14px;
}

body {
  font: 400 16px/1.5 "SF UI Text Regular", Helvetica, sans-serif;
  background: #f7f8fa;
  color: #444;
}

a[href] {
  color: unset;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

ul {
  list-style-position: inside;
}

.test,
.test > * {
  border: 1px solid black;
}

@import "./TopBar.scss";
@import "./MainContainer.scss";
