.main-container {
  padding: 5rem 0;
  min-height: 100vh;
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters {
  margin-top: 70px;
  display: grid;
  // grid-template-columns: repeat(3, 260px);
  grid-auto-flow: row;
  gap: 1.85rem;
  max-width: 1200px;
}

@supports not (display: grid) {
  .characters {
    width: auto;
    --gap-row: 0.625rem;
    --gap-column: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    margin: calc(-2 * var(--gap-row)) calc(-2 * var(--gap-column));
    justify-content: center;
  }

  .character-card {
    margin: var(--gap-row) var(--gap-column);
  }
}

.character-card {
  width: 100%;
  height: 100%;
  color: white;
}

.character-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-details__return-button-wrapper {
  flex-basis: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 2rem;
}

.character-details__thumbnail {
  // flex-basis: 50%;
  flex: 1 1 400px;
  margin-bottom: 2rem;
}

.character-details__info {
  flex: 1 0 50%;
}

.character-details__description {
  margin-bottom: 2rem;
}

.character-details__comics {
  list-style-position: inside;
}

@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 960px) {
  .main-container {
    width: 85%;
  }

  // width: min-content;
  .characters {
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(28vw, 420px);
  }

  .character-details__thumbnail {
    height: 65vw;
    max-height: 1000px;
    flex-basis: 50%;
  }

  .character-details__info {
    padding: 0 30px 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  // .characters {
  //   grid-template-columns: repeat(4, 260px);
  // }
  .character-details__info {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}
