.main-container {
  padding: 5rem 0;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters {
  margin-top: 70px;
  width: min-content;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-auto-rows: 390px;
  grid-auto-flow: row;
  gap: 1.85rem;
  max-width: 1200px;
}

@supports not (display: grid) {
  .characters {
    width: auto;
    --gap-row: 0.625rem;
    --gap-column: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    margin: calc(-2 * var(--gap-row)) calc(-2 * var(--gap-column));
    justify-content: center;
  }

  .character-card {
    margin: var(--gap-row) var(--gap-column);
  }
}

.character-card {
  width: 100%;
  height: 100%;
  color: white;
}

.character-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-details__return-button-wrapper {
  flex-basis: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.character-details__thumbnail {
  flex-basis: 50%;
}

.character-details__info {
  flex-basis: 50%;
  padding: 0 30px 0 36px;
}

.character-details__description {
  margin-bottom: 2rem;
}

.character-details__comics {
  list-style-position: inside;
}
