$light-grey: #dedede;
$grey: #adadad;

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0.85rem 5.75rem 0.85rem 1.25rem;
  height: 70px;
  background: #ffffff;
  color: $light-grey;
  box-shadow: 0 0 2px 0px #aaa;
  width: 100%;
  z-index: 9999;
}

.top-bar__logo {
  margin-right: 1.5rem;
}

.top-bar__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-left: 1px solid $light-grey;
  padding: 0 1.5rem 0 1.25rem;
  max-width: 1300px;
}

.top-bar__search__button {
  padding: 0.25rem 0.25rem 0;
  margin-right: 0.25rem;
}

.top-bar__search__input {
  // outline: none;
  border: none;
  color: inherit;
  font: inherit;
  flex: 1;
  color: $grey;
}

.top-bar__search__input::placeholder {
  color: inherit;
}

.top-bar__toggle-favorites {
  color: $grey !important;
  position: relative;
}

.top-bar__toggle-favorites::after {
  content: "";
  height: 1.5rem;
  background: #dedede;
  width: 1px;
  display: block;
  position: absolute;
  top: 0.25rem;
  left: 3rem;
}
